MyCompanyApp/MyCompanyApp/bin/Debug/MyCompanyApp.exe
MyCompanyApp/MyCompanyApp/bin/Debug/MyCompanyApp.pdb
MyCompanyApp/MyCompanyApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
MyCompanyApp/MyCompanyApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyCompanyApp/MyCompanyApp/obj/Debug/MyCompanyApp.csproj.CoreCompileInputs.cache
MyCompanyApp/MyCompanyApp/obj/Debug/MyCompanyApp.csproj.FileListAbsolute.txt
MyCompanyApp/MyCompanyApp/obj/Debug/MyCompanyApp.csproj.GenerateResource.cache
MyCompanyApp/MyCompanyApp/obj/Debug/MyCompanyApp.exe
MyCompanyApp/MyCompanyApp/obj/Debug/MyCompanyApp.pdb
MyCompanyApp/MyCompanyApp/obj/Debug/MyCompanyApp_MarkupCompile.cache
MyCompanyApp/.vs/MyCompanyApp/FileContentIndex/c78f35e4-b3bd-47b9-b804-ba10aa05c4d5.vsidx
MyCompanyApp/.vs/MyCompanyApp/v17/.suo
MyCompanyApp/MyCompanyApp/.vs/MyCompanyApp.csproj.dtbcache.json
Excel/~$Salary Report.xlsm
*.vsidx
/MyCompanyApp/MyCompanyApp/obj
/MyCompanyApp/MyCompanyApp/obj
